.container {
  height: 100vh;
  display: flex;
  font-family: poppins;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.messageContainer {
  padding: 0px 13px 20px 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px 10px #00000009;
  overflow: hidden;
  border: 1px solid #ccc;
  
}

.scroll {
  height: 400px;
  width: 450px;

  
  overflow-y: auto;

  display: flex;
  flex-direction: column;

}

.messages {
  margin-top: auto;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  gap: 4px;

  

 
  background-color: #f1f1f1;
  margin-bottom: 20px;

  width:fit-content;
  max-width: 50%;
  border-radius: 15px;
  
  
}

.post-time {
  margin-top: -10px;
  color: #979797;
  font-size: 13px;
  margin-left: -30px;

  max-width: 250px;

}

.text {
  word-wrap: break-word;
  overflow-wrap: break-word;

  margin-top: -10px;
  max-width: 250px;
  margin-left: -30px;
}

.post-name {
  font-weight: 500;
  margin-left: -30px;
}


input {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.2s;
  box-shadow: 0 0 10px #0000002a;
  margin-right: 10px;
}

input:focus {
  border-color: #e54646;
  box-shadow: 0 0 5px rgba(229, 70, 70, 0.3);
}

.input:placeholder {
  font-family: poppins;

}

.input-and-button {
  display: flex;
  flex-direction: row;
}

.post-button {
  font-family: poppins;
  background-color: #e54646;
  box-shadow: 0 0 10px #e5464670;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  color: white;
  outline: none;
  transition: 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.post-button:hover {
  background-color: rgb(255, 99, 99);
}

.send-icon {
  align-self: auto;
}
